{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 폴리필을 core-js 사용하도록 설정
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
